# DSA-WEEK 11 - PRACTICE

### Loan Deliquency

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Load Data
loan_df = pd.read_csv('loan_dataset.csv')
loan_df.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,...,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,...,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,...,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,...,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,...,3,4,5,6,7,8,9,10,11,1

In [3]:
loan_df.shape

(116058, 29)

In [4]:
loan_df.tail()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
116053,382119962287,Y,Browning-Hart,4.125,153000,360,2012-02-01,04/2012,88,2.0,...,0,0,0,0,0,0,0,0,0,0
116054,582803915466,Z,OTHER,3.000,150000,120,2012-01-01,03/2012,35,1.0,...,0,0,0,0,0,0,0,0,0,0
116055,837922316947,X,OTHER,3.875,166000,360,2012-02-01,04/2012,58,2.0,...,0,0,0,0,0,0,0,0,0,0
116056,477343182138,X,OTHER,4.250,169000,360,2012-02-01,04/2012,74,2.0,...,0,0,0,0,0,0,0,0,0,0
116057,763308490661,Z,Thornton-Davis,3.375,252000,180,2012-01-01,03/2012,29,2.0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#Finding missing value count
loan_df.isna().sum()

loan_id                     0
source                      0
financial_institution       0
interest_rate               0
unpaid_principal_bal        0
loan_term                   0
origination_date            0
first_payment_date          0
loan_to_value               0
number_of_borrowers         0
debt_to_income_ratio        0
borrower_credit_score       0
loan_purpose                0
insurance_percent           0
co-borrower_credit_score    0
insurance_type              0
m1                          0
m2                          0
m3                          0
m4                          0
m5                          0
m6                          0
m7                          0
m8                          0
m9                          0
m10                         0
m11                         0
m12                         0
m13                         0
dtype: int64

In [6]:
#checking datatypes of columns
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116058 entries, 0 to 116057
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   loan_id                   116058 non-null  int64
 1   source                    116058 non-null  object
 2   financial_institution     116058 non-null  object
 3   interest_rate             116058 non-null  float64
 4   unpaid_principal_bal      116058 non-null  int64
 5   loan_term                 116058 non-null  int64
 6   origination_date          116058 non-null  object
 7   first_payment_date        116058 non-null  object
 8   loan_to_value             116058 non-null  int64
 9   number_of_borrowers       116058 non-null  float64
 10  debt_to_income_ratio      116058 non-null  float64
 11  borrower_credit_score     116058 non-null  float64
 12  loan_purpose              116058 non-null  object
 13  insurance_percent         116058 non-null  float64
 14  co-borrower_credit_score  116058 non-null  float64
 15  insurance_type            116058 non-null  float64
 16  m1                        116058 non-null  int64
 17  m2                        116058 non-null  int64
 18  m3                        116058 non-null  int64
 19  m4                        116058 non-null  int64
 20  m5                        116058 non-null  int64
 21  m6                        116058 non-null  int64
 22  m7                        116058 non-null  int64
 23  m8                        116058 non-null  int64
 24  m9                        116058 non-null  int64
 25  m10                       116058 non-null  int64
 26  m11                       116058 non-null  int64
 27  m12                       116058 non-null  int64
 28  m13                       116058 non-null  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 25.7+ MB

In [7]:
# dropping unwanted columns and target variable m13
x=loan_df.drop(['loan_id','origination_date','first_payment_date','insurance_percent','insurance_type','m13'], axis=1)
y=pd.DataFrame(loan_df['m13'])

In [8]:
x['financial_institution'].value_counts()

OTHER                          49699
Browning-Hart                  31852
Swanson, Newton and Miller      6874
Edwards-Hoffman                 4857
Martinez, Duffy and Bird        4715
Miller, Mcclure and Allen       3158
Nicholson Group                 2116
Turner, Baldwin and Rhodes      1846
Suarez Inc                      1790
Cole, Brooks and Vincent        1642
Richards-Walters                1459
Taylor, Hunt and Rodriguez      1259
Sanchez-Robinson                1193
Sanchez, Hays and Wilkerson      853
Romero, Woods and Johnson        750
Thornton-Davis                   651
Anderson-Taylor                  483
Richardson Ltd                   473
Chapman-Mcmahon                  388
Name: financial_institution, dtype: int64

In [9]:
#Label Encoding
from sklearn.preprocessing import LabelEncoder
lbl_en=LabelEncoder()
a=['financial_institution']
for i in np.arange(len(a)):
    x[a[i]]=lbl_en.fit_transform(x[a[i]])

In [10]:
x.head()

,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,...,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,Z,18,4.250,214000,360,95,1.0,22.0,694.0,C86,...,0,0,0,0,1,0,0,0,0,0
1,Y,15,4.875,144000,360,72,1.0,44.0,697.0,B12,...,0,0,0,0,0,0,0,0,1,0
2,Z,17,3.250,366000,180,49,1.0,33.0,780.0,B12,...,0,0,0,0,0,0,0,0,0,0
3,X,8,4.750,135000,360,46,2.0,44.0,633.0,B12,...,0,0,0,0,0,0,1,1,1,1
4,X,8,4.750,124000,360,80,1.0,43.0,681.0,C86,...,2,3,4,5,6,7,8,9,10,11

In [11]:
# One hot encoding
print(x['source'].value_counts())
source_en=pd.get_dummies(x['source'])
loanp_en=pd.get_dummies(x['loan_purpose'])
x=pd.concat([x,source_en,loanp_en],axis=1)

X    63858
Y    37554
Z    14646
Name: source, dtype: int64

In [12]:
x=x.drop(['source','loan_purpose'],axis=1)

In [13]:
x=pd.DataFrame(x)
x.head()

,financial_institution,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,co-borrower_credit_score,m1,...,m9,m10,m11,m12,X,Y,Z,A23,B12,C86
0,18,4.250,214000,360,95,1.0,22.0,694.0,0.0,0,...,0,0,0,0,0,0,1,0,0,1
1,15,4.875,144000,360,72,1.0,44.0,697.0,0.0,0,...,0,0,1,0,0,1,0,0,1,0
2,17,3.250,366000,180,49,1.0,33.0,780.0,0.0,0,...,0,0,0,0,0,0,1,0,1,0
3,8,4.750,135000,360,46,2.0,44.0,633.0,638.0,0,...,1,1,1,1,1,0,0,0,1,0
4,8,4.750,124000,360,80,1.0,43.0,681.0,0.0,0,...,8,9,10,11,1,0,0,0,0,1

In [14]:
x.shape

(116058, 27)

In [15]:
# Feature engineering
x.columns

Index(['financial_institution', 'interest_rate', 'unpaid_principal_bal',
       'loan_term', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score',
       'co-borrower_credit_score', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7',
       'm8', 'm9', 'm10', 'm11', 'm12', 'X', 'Y', 'Z', 'A23', 'B12', 'C86'],
      dtype='object')

In [16]:
x['credit_score']=x['borrower_credit_score']+x['co-borrower_credit_score']
x=x.drop(['borrower_credit_score','co-borrower_credit_score'],axis=1)
x.head()

,financial_institution,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,m1,m2,m3,...,m10,m11,m12,X,Y,Z,A23,B12,C86,credit_score
0,18,4.250,214000,360,95,1.0,22.0,0,0,0,...,0,0,0,0,0,1,0,0,1,694.0
1,15,4.875,144000,360,72,1.0,44.0,0,0,0,...,0,1,0,0,1,0,0,1,0,697.0
2,17,3.250,366000,180,49,1.0,33.0,0,0,0,...,0,0,0,0,0,1,0,1,0,780.0
3,8,4.750,135000,360,46,2.0,44.0,0,0,0,...,1,1,1,1,0,0,0,1,0,1271.0
4,8,4.750,124000,360,80,1.0,43.0,0,1,2,...,9,10,11,1,0,0,0,0,1,681.0

In [17]:
x['mean']=x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7','m8', 'm9', 'm10', 'm11', 'm12']].mean(axis=1)
x['sum']=x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7','m8', 'm9', 'm10', 'm11', 'm12']].sum(axis=1)
x['skew']=x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7','m8', 'm9', 'm10', 'm11', 'm12']].skew(axis=1)
x['kurtosis']=x[['m1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7','m8', 'm9', 'm10', 'm11', 'm12']].kurt(axis=1)
x.columns

Index(['financial_institution', 'interest_rate', 'unpaid_principal_bal',
       'loan_term', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'm1', 'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8',
       'm9', 'm10', 'm11', 'm12', 'X', 'Y', 'Z', 'A23', 'B12', 'C86',
       'credit_score', 'mean', 'sum', 'skew', 'kurtosis'],
      dtype='object')

In [18]:
# splitting the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)
#test size=0.3 means 30% of data is used for test

In [19]:
x_train.shape

(81240, 30)

In [20]:
y_train.shape

(81240, 1)

In [21]:
x_test.shape

(34818, 30)

In [22]:
y_test.shape

(34818, 1)

In [23]:
# Build the Model

In [24]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)

C:\Users\91999\AppData\Local\Temp/ipykernel_18448/2643617984.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train,y_train)

In [25]:
from sklearn.metrics import f1_score,confusion_matrix
f1_score(y_test,y_pred)

0.47619047619047616

In [26]:
confusion_matrix(y_test,y_pred)

array([[34594,    25],
       [  129,    70]], dtype=int64)

In [27]:
# Feature Importance

In [28]:
pd.Series(rf.feature_importances_,index=x.columns).sort_values(ascending=False)*100

credit_score             11.955842
unpaid_principal_bal     11.802450
m12                       9.700441
debt_to_income_ratio      8.197809
loan_to_value             7.494231
mean                      7.362362
interest_rate             6.853650
sum                       6.227952
m11                       4.949575
financial_institution     3.707308
m10                       2.729677
kurtosis                  2.596352
skew                      2.137437
m9                        2.037249
loan_term                 1.822125
m8                        1.244612
B12                       0.923213
number_of_borrowers       0.922489
Y                         0.912078
X                         0.904066
A23                       0.839389
m7                        0.806683
C86                       0.764251
m6                        0.644833
Z                         0.625149
m5                        0.528523
m4                        0.427303
m1                        0.329620
m3                        0.314666
m2                        0.238665
dtype: float64

In [29]:
# Distribution of Prediction Probabilities

In [30]:
threshold=0.22
y_pred_prob=rf.predict_proba(x_test)[:,1]
y_pred=(y_pred_prob>threshold).astype(int)

In [31]:
f1_score(y_test,y_pred)

0.5198938992042441

In [32]:
# Fine Tuning of Hyper Parameters

In [33]:
rf.fit(x_train,y_train)

C:\Users\91999\AppData\Local\Temp/ipykernel_18448/1149647727.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train,y_train)

RandomForestClassifier()

In [34]:
rft=RandomForestClassifier(n_estimators=500,max_depth=10,random_state=42,criterion='entropy')

In [35]:
rft.fit(x_train,y_train)

C:\Users\91999\AppData\Local\Temp/ipykernel_18448/2091006309.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rft.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=500,
                       random_state=42)

In [36]:
y_pred=rft.predict(x_test)
f1_score(y_test,y_pred)

0.46689895470383275

In [37]:
# Gradient Boosting

In [38]:
from sklearn.ensemble import GradientBoostingClassifier
gb=GradientBoostingClassifier()
gb.fit(x_train,y_train)

C:\Users\91999\anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier()

In [39]:
y_pred=gb.predict(x_test)

In [40]:
f1_score(y_test,y_pred)

0.48135593220338985

In [41]:
# Extreme Gradient Boosting

In [42]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)

C:\Users\91999\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\91999\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\91999\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[12:35:30] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=12,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [43]:
y_pred=xgb.predict(x_test)

In [44]:
f1_score(y_test,y_pred)

0.4755700325732899